#footer{
   
    background-color: #525252 ;
    font-size: 120%;
    margin-top: 16%;
    color: white;
    width: 120%;
    
}

#footer p{

    margin-left: 34%;

}

@media (max-width: 480px){
    #footer{
        font-size: 100%;
        padding: 2%;
        margin-top: 59%;

    }
    #footer p{

        margin-left: 18%;
    
    }
}
