/* Estilos globais */
body {
    overflow: hidden; /* Impede rolagem */
    margin: 0;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2% 0 0 3%;
    font-size: 450%;
    text-align: center;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 3.3%;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1%;
}

/* Estilos para a seção Pokémon */
.home-pokemon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.home-pokemon img {
    width: 400px;
    height: auto;
    transform: scale(); /* Escala mais intuitiva */
    margin: 0 20% 3% 0;
}

/* Botão de Pokédex */
.btn-pokedex {
    margin-left: 2%;
}

.btn-pokedex button {
    padding: 1.2%;
    font-size: 130%;
    border: none;
    background-color: rgb(255, 82, 82);
    border-radius: 15px;
    color: white;
    transition: transform 0.3s, background-color 0.3s;
    margin-top: 10%;
    margin-left: 40%;
}

.btn-pokedex button:active {
    background-color: rgb(158, 50, 50);
}

.btn-pokedex button:hover {
    cursor: pointer;
    transform: scale(1.12);
}

/* Estilos responsivos */
@media (max-width: 480px) {
    h1 {
        font-size: 250%;
        margin-top: 2%;
    }

    h2 {
        font-size: 100%;
        margin-left: 3.3%;
    }

    .home-pokemon img {
        width: 200px;
        height: auto;
        margin: 35% 0 0 4%;
        transform: scale(1); /* Reduzido para escala normal */
    }

    .btn-pokedex button {
        padding: 5%; /* Padding ajustado para dispositivos menores */
        font-size: 100%;
        border-radius: 10px;
        margin: 40% 0 0 10%; /* Margens ajustadas */
    }
}
